{%extends 'layout/master_manage.html'%}
{%block content%}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item " ><a href="{{url_for('ql_don_hang_tao_don_moi')}}">Thông tin</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="#">Đơn hàng</a></li>
    
  </ol>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
          <h3><b>Hoá đơn số {{hoa_don.ma_hoa_don}}</b></h3>
        </div>
    </div>
</div>
{%if don_hang|length > 0%}
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Mã sản phẩm</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Thuộc tính</th>
                <th scope="col">Giá bán</th>
                <th scope="col">Giá nhập</th>                
                <th scope="col"></th>
      
              </tr>
            </thead>
            <tbody>
              {%for item in don_hang%}
              <tr>
      
                <td>{{item.ma_san_pham}}</td>
                <td>{{item.ten_san_pham}}</td>
                <td>{{item.thuoc_tinh}}</td>  
                
                <td>{{"{:,}".format(item.gia_ban)}}</td>{{item.thuoc_tinh}}</td>>
                <td>{{"{:,}".format(item.gia_nhap)}}</td>
                <td><a href="{{url_for('ql_don_hang_xoa_khoi_don_hang',ma_hd = hoa_don.ma_hoa_don, ma_sp = item.ma_san_pham)}}">Xoá</a></td>

      
              </tr>
              {%endfor%}
            </tbody>
          </table>

    </div>
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-sm-12 text-center">
            <a class="btn btn-success" style=" color:white;" href="{{url_for('ql_don_hang_confirm',ma_hd = hoa_don.ma_hoa_don)}}">Kế tiếp</a>
        </div>
    </div>

</div>

{%endif%}

<form method="POST">
    {{form.hidden_tag()}}
    <div class="container">
        <div class="form-row">
            {{form.noi_dung(class="form-group form-control col-sm-12 text-center", placeholder="Nhập Tên hoặc Mã SP")}}
            
            
        </div>
        
    </div>
</form>

{%if page_filter.items|length > 0%}
<div class="container">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Mã sản phẩm</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Mã loại</th>            
            <th scope="col">Giá bán</th>
            <th scope="col">Giá nhập</th>
            
            <th scope="col"></th>
  
          </tr>
        </thead>
        <tbody>
          {%for item in page_filter.items%}
          <tr>
  
            <td>{{item.ma_san_pham}}</td>
            <td>{{item.ten_san_pham}}</td>  
            <td>{{item.ma_loai}}</td>
            
            <td>{{"{:,}".format(item.gia_ban)}}</td>
            <td>{{"{:,}".format(item.gia_nhap)}}</td>
            <td><a href="{{url_for('ql_don_hang_them_vao_don_hang',ma_hd = hoa_don.ma_hoa_don, ma_sp = item.ma_san_pham)}}">Thêm</a></td>
  
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                {%if page_filter.has_prev%}
                  <li class="page-item"><a class="page-link" href="{{url_for('ql_don_hang_tao_don_moi_detail', ma_hd = hoa_don.ma_hoa_don, page = page_filter.prev_num)}}">Trang trước</a></li>
                {%endif%}
                {%for i in range(1,page_filter.pages+1)%}
                  <li class="page-item {%if page_filter.page == i%} active {%endif%}"><a class="page-link" href="{{url_for('ql_don_hang_tao_don_moi_detail', ma_hd = hoa_don.ma_hoa_don, page = i)}}">{{i}}</a></li>
                {%endfor%}  
                {%if page_filter.has_next%}
                  <li class="page-item"><a class="page-link" href="{{url_for('ql_don_hang_tao_don_moi_detail', ma_hd = hoa_don.ma_hoa_don, page = page_filter.next_num)}}">Trang kế</a></li>
                {%endif%}
                </ul>
            </nav>

        </div>
    </div>
</div>
{%else%}
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <b>{{thong_bao}}</b>
        </div>
    </div>
</div>
{%endif%}
{%endblock%}